@charset "utf-8";
main{
    position:relative;
    width:100%; max-width:var(--wid);
    margin:0 auto;}

.season{
    position:relative;
    width:100%;
    padding:var(--gap);
    border-bottom:2px dotted rgba(255,255,255,.1);}

/* [타이틀] */
.season h2{
    position:relative;
    margin-bottom:var(--gap);
    text-align:center;font-size:1rem;
    font-weight:100;color:rgba(255,255,255,.8);}

    .season h2::before{
        content:'';display:block; position:absolute;
        left:50%;top:0%; transform:translate(-50%,-45%) scale(.65);
        width:100px; aspect-ratio:1/1;
        border-radius:50%;
        background:var(--gd-disney);
        clip-path:path('M50,0C22.4,0,0,22.4,0,50c0,27.6,22.4,50,50,50s50-22.4,50-50C100,22.4,77.6,0,50,0z M50,97C24,97,3,76,3,50S24,3,50,3s47,21,47,47S76,97,50,97z');
    }
    
/* [테이블] */
.tbl{
    position:relative;
    width:100%;
    margin-bottom:var(--gap);
    border-top:1px solid var(--disney-3);}

.tbl caption{display:none;}

.tbl th, .tbl td{
    position:relative;
    padding:1em;
    line-height:1.65;
    background:rgba(0,0,0,.05);
    border:1px solid rgba(0,0,0,.1); border-width:0 1px 1px 0;}

.tbl th{
    background:rgba(0,0,0,.15);
    font-size:14px;font-weight:600;color:rgba(255,255,255,.7);}

.tbl td p{text-indent:1em; margin-top:1em;}
.tbl td p:first-child{margin-top:0;}
    /* thead */
    .tbl thead th{font-size:1rem;}
    .tbl thead th:first-child{color:yellow;}

/* [라벨] */
.lbl{
    display:inline-block;
    position:relative;
    margin:0 5px;
    font-weight:500;
    cursor:pointer;}

    .lbl::before,.lbl::after{opacity:.5;font-weight:400;}
    .lbl::before{content:'[ ';}
    .lbl::after{content:' ]';}


    /* 취소 */
    .lbl.cancel{text-decoration:line-through; text-decoration-thickness:3px;}

    /* 더보기 */
    .lbl[data-more]{border-bottom:2px dotted var(--disney-3);}


/* [타임스탬프] */
.timeStamp{
    padding:5px; 
    margin-right:10px; margin-left:-.5em;
    background:rgba(0,0,0,.2);
    font-weight:600; font-size:.8em; color:var(--disney-2);}